.TentangKami{
    margin: 1rem;
}
.JumbrotonTentangKami{
    display: flex;
    align-items: center;
    background-color: #334c8a;
    border-radius: 40px;
    justify-content: center;
    color: white;
    padding: 2rem 5rem;
    gap: 2rem;
    margin-bottom: 1rem;
}
.JumbrotonTentangKamiKiri h1{
    margin-bottom: 1.5rem;
    font-size: 40px;
}
.JumbrotonTentangKamiKiri p{
    font-size: 20px;
}
.Fitur{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
.CardFitur{
    width: 280px;
    margin-bottom: 20px;
    height: auto;
}
.CardFitur i{
    color: #334c8a;
    height: auto;
    font-size: 25px;
}
.CardFitur h4{
    margin: 12px 0 10px;
    font-size: 20px;
}
.CardFitur p{
    opacity: 0.60;
    font-size: 16px;
}
.TimKami{
    background-color: #334c8a;
    padding: 3rem 2rem;
}
.HeadingTimKami{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
}
.section::-webkit-scrollbar{
    height: 4px;
    border-radius: 10px;
    background: transparent;

}
.section::-webkit-scrollbar-thumb{
    background:white;
}
.section{
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.box{
    margin-bottom: 1rem;
    text-align: center;
    width: 280px;
    height: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.box img{
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 280px;
    height: 225px;
    object-fit: cover;
}
.box h3{
    margin-bottom: 5px;
}
.box h5{
    color: #334c8a;
    font-size: 18px;
}
/* Tablet / Medium Screen */
@media (max-width:830px) {
    .JumbrotonTentangKami{
        padding: 2rem;
        justify-content: space-between;
    }
}

/* Small Screen */
@media (max-width:428px) {
    .JumbrotonTentangKami{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        padding:2rem ;
        gap: 1rem;
    }
    .JumbrotonTentangKamiKiri h1{
        margin-bottom: 1.5rem;
        font-size: 30px;
    }
    .JumbrotonTentangKamiKiri p{
        font-size: 15px;
    }
    .JumbrotonTentangKamiKanan img{
        width: 180px;
    }
}