body {
  font-family: sans-serif;
}

/* Large Screen */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.Navbar h1 {
  color: #334c8a;
}
.Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
  padding: 0 10px;
}
.Logo img {
  width: 40px;
  height: 40px;
  max-width: 100%;
}
.Links {
  display: flex;
  align-items: center;
}
.Links a {
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.Links a:hover {
  color: #334c8a;
}
.Links .SearchArea1{
  display: none;
}
.CariMasuk {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.SearchArea{
  border: 1px solid #334c8a;
  padding: 0 5px;
  border-radius: 20px;
  margin: 0;
}
.SearchArea i{
  color: #334c8a;
}
.SearchArea input {
  width: 180px;
  height: 30px;
  text-align: start;
  padding-left: 5px;
  font-size: 15px;
  border: none;
  color: #334c8a;
  font-weight: lighter;
  cursor: auto;
  outline: none;
  background: none;
}
.SearchArea input:focus {
  outline: none;
}
.CariMasuk a {
  color: #334c8a;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

input::placeholder {
  color: #334c8a;
}
.Icon{
  display: none;
}

/* Small & Medium Screen */
@media (max-width: 830px) {
  .Navbar{
    padding: 1rem;
    top: fixed;
  }
  .Links {
    display: none;
    position: absolute;
    background-color: #334c8a;
    top: 50px;
    left: 0;
    margin: 10px 1rem;
    width: 95%;
    /* color: #334c8a; */
    border: 1px solid white; 
    border-radius: 10px;
    z-index: 100;
  }
  .Links .List{
    float: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
  }
  .Links .SearchArea1{
    display:block;
    /* align-items: center;
    justify-content: center;  */
    border: 1px solid #334c8a;
    padding: 0 5px;
    border-radius: 20px;
    background-color: white;
    margin: 0 1rem;
  }
  .Links .SearchArea1 i{
    color: #334c8a;
  }
  .Links .SearchArea1 input {
    width: 200px;
    height: 30px;
    text-align: start;
    padding-left: 5px;
    font-size: 15px;
    border: none;
    color: #334c8a;
    font-weight: lighter;
    cursor: auto;
    outline: none;
    background: none;
  }
  
  .CariMasuk{
    display: none;
  }
  .Icon {
    display: block;
    position: absolute;
    right: 1rem;
    font-size: 30px;
    }
}
